version: '3'

networks:
  high_seas:

services:
  # transmission-openvpn:
  #   volumes:
  #       - /srv/dev-disk-by-label-data/media/downloads:/media/downloads
  #       - /etc/localtime:/etc/localtime:ro
  #   environment:
  #       - PUID=1000
  #       - PGID=100
  #       - CREATE_TUN_DEVICE=true
  #       - OPENVPN_PROVIDER=NORDVPN
  #       # - OPENVPN_CONFIG=default
  #       - NORDVPN_COUNTRY=US
  #       - NORDVPN_CATEGORY=legacy_p2p
  #       - NORDVPN_PROTOCOL=udp
  #       - OPENVPN_USERNAME=wqxThYK8YJ
  #       - OPENVPN_PASSWORD=WtvbSQgBrtnm
  #       - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
  #       - WEBPROXY_ENABLED=false
  #       - LOCAL_NETWORK=192.168.8.0/24
  #       - TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED=false
  #       - DNS=8.8.8.8,8.8.4.4
  #   cap_add:
  #       - NET_ADMIN
  #   logging:
  #       driver: json-file
  #       options:
  #           max-size: 10m
  #   ports:
  #       - 9091:9091
  #       - 9117:9117
  #       - 7878:7878
  #       - 8989:8989
  #       - 8686:8686
  #       - 5299:5299
  #   restart: always
  #   image: haugene/transmission-openvpn


# https://hub.docker.com/r/markusmcnugen/qbittorrentvpn
  qbittorrentvpn:
    image: markusmcnugen/qbittorrentvpn
    # container_name: qbittorrentvpn
    volumes:
      # should hardlink the openvpn config and the login config from nfs mount to the config dir via ansible?
      - /docker/docker-compose/privateer/config:/config
      - /mnt/mobius/staging/qbittorrent/:/downloads
    environment:
      - VPN_ENABLED=yes
      # - VPN_USERNAME
      # - VPN_PASSWORD
      - LAN_NETWORK=192.168.13.0/24
      # - NAME_SERVERS
      - PUID=1000
      - PGID=1000
      # - UMASK
      - WEBUI_PORT_ENV=8082
      - INCOMING_PORT_ENV=8999
    ports:
      - 8082:8080
      - 8999:8999
      - 8999:8999/udp
    restart: unless-stopped
    privileged: true
    # networks:
    #   - high_seas
    cap_add:
      - NET_ADMIN





  # # https://docs.linuxserver.io/images/docker-jackett
  # jackett:
  #   image: linuxserver/jackett
  #   # container_name: jackett
  #   # network_mode: "service:qbittorrentvpn"
  #   environment:
  #       - PUID=1000
  #       - PGID=1000
  #       - TZ=America/New_York
  #       - AUTO_UPDATE=true #optional
  #       # - RUN_OPTS=#optional
  #   ports:
  #     - 9117:9117
  #   volumes:
  #       - /docker/docker-compose/privateer/jackett:/config
  #   restart: unless-stopped
  #   networks:
  #     - high_seas

  # # https://docs.linuxserver.io/images/docker-radarr
  # radarr:
  #   image: linuxserver/radarr
  #   # network_mode: "service:qbittorrentvpn"
  #   # container_name: radarr
  #   environment:
  #       - PUID=1000
  #       - PGID=1000
  #       - TZ=America/New_York
  #       # - UMASK_SET=022 #optional
  #   ports:
  #     - 7878:7878
  #   volumes:
  #       - /docker/docker-compose/privateer/radarr:/config
  #       - /mnt/mobius/Video/Movies:/media
  #   restart: unless-stopped
  #   networks:
  #     - high_seas
 
  # # https://docs.linuxserver.io/images/docker-sonarr
  # sonarr:
  #   image: linuxserver/sonarr
  #   # network_mode: "service:qbittorrentvpn"
  #   # container_name: sonarr
  #   environment:
  #       - PUID=1000
  #       - PGID=1000
  #       - TZ=America/New_York
  #       # - UMASK_SET=022 #optional
  #   ports:
  #     - 8989:8989
  #   volumes:
  #       - /docker/docker-compose/privateer/sonarr:/config
  #       - /mnt/mobius/Video/TV-shows:/media
  #   restart: unless-stopped
  #   networks:
  #     - high_seas
 
  # # https://docs.linuxserver.io/images/docker-lidarr#linuxserver-lidarr
  # lidarr:
  #   image: linuxserver/lidarr
  #   # network_mode: "service:qbittorrentvpn"
  #   # container_name: lidarr
  #   environment:
  #       - PUID=1000
  #       - PGID=1000
  #       - TZ=America/New_York
  #       # - UMASK_SET=022 #optional
  #   ports:
  #     - 8686:8686
  #   volumes:
  #       - /docker/docker-compose/privateer/lidarr:/config
  #       - /mnt/mobius/Music/library:/media
  #   restart: unless-stopped
  #   networks:
  #     - high_seas

  # # https://docs.linuxserver.io/images/docker-bazarr
  # bazarr:
  #   image: lscr.io/linuxserver/bazarr
  #   # network_mode: "service:qbittorrentvpn"
  #   # container_name: bazarr
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=America/New_York
  #   volumes:
  #     - /docker/docker-compose/privateer/bazarr:/config
  #     - /mnt/mobius/Video/Movies:/movies
  #     - /mnt/mobius/Video/TV-shows:/tv
  #   ports:
  #     - 6767:6767
  #   restart: unless-stopped
  #   networks:
  #     - high_seas